body {
    font-family: 'Nunito', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cabeça {
    text-align: center;
    color: #f47208;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    display: block;
    width: 100%;
    background-color: #f47208;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 16px;
}

button:hover {
    background-color: #f7b57f;
}

button:active {
    animation: animateButton 0.5s;
}

@keyframes animateButton {
    0% {background-color: #f47208;}
    50% {background-color: #f7b57f;}
    100% {background-color: #f47208;}
}
